@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto&family=Roboto+Slab:wght@300&display=swap");
@import "@splidejs/react-splide/css";

.navBarContainer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.navLink {
  color: black;
}

li {
  list-style-type: none;
}

.navBarTitle {
  font-family: "Roboto Slab", serif;
  margin-left: 10vh;
  font-size: 150%;
}

.navBarItems {
  font-family: "Roboto Slab", serif;
  margin-right: 10%;
}

.motiveContainer {
  position: relative;
  background-color: #0049a5;
  overflow: auto;
  width: auto;
  z-index: -1;
}

.motiveText {
  margin-left: 6vh;
  margin-top: 25vh;
  margin-bottom: 15vh;
  color: white;
  width: 50%;
  float: left;
  font-family: "Roboto Slab", serif;
}

.motiveText h1 {
  font-size: 375%;
  width: 70%;
}

.motiveText p {
  font-size: 150%;
  width: 80%;
}

.motiveImgContainer {
  position: absolute;
  bottom: 0px;
  right: 5%;
  z-index: -1;
}

.motiveImgContainer img {
  display: block;
  width: 100%;
  height: 50vh;
}

.asSeenInContainer {
  font-family: "Roboto Slab", serif;
  margin-top: 3%;
  width: 100%;
}

.asSeenInLogosGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2px;
  padding: 10px;
  width: 75%;
  margin: auto;
}

.asSeenInLogosGrid img {
  width: 90%;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

.asSeenInTitle {
  text-align: center;
  font-size: 125%;
  color: gray;
}

.ourStoryMotiveContainer {
  background-color: rgb(252, 205, 2);
  overflow: auto;
  width: auto;
}

.ourStoryMotiveText {
  font-family: "Roboto Slab", serif;
  margin: auto;
  width: 45%;
  margin-bottom: 6%;
  margin-top: 6%;
  text-align: center;
}

.ourStoryMotiveText h1 {
  margin-top: 8%;
  margin-left: 5%;
  font-size: 500%;
  width: 80%;
  font-weight: 400;
}

.ourStoryMotiveText p {
  margin-top: 4%;
  font-size: 150%;
  width: 95%;
  font-weight: 500;
}

.ourStoryTextSectionContainer {
  background-color: #fdfaf7;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: auto;
  padding-bottom: 3%;
}

.ourStoryTextSectionContainer h2 {
  font-weight: 700;
  width: 20%;
  margin-left: 25%;
  margin-bottom: 2%;
  padding-top: 4%
}

.ourStoryTextSectionContainer p {
  width: 20%;
  font-weight: 500;
  font-size: 125%;
  margin-left: 25%;
  margin-bottom: 2%;
}

.ourStoryImageContainer {
  position: absolute;
  width: auto;
  top: 15%;
  left: 60%;
}

.ourStoryImageContainer img {
  width: 500px;
  height: auto;
  border-radius: 15%;
}

.humanHightlight {
  font-style: italic;
  color: white;
}

.ourStoryThinMotiveContainer {
  position: relative;
  background-color: rgb(252, 205, 2);
  overflow: auto;
  width: auto;
}

.ourStoryThinMotiveTextContainer {
  font-family: "Roboto Slab", serif;
  margin: auto;
  width: 45%;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
}

.ourStoryThinMotiveTextContainer h1 {
  font-weight: 500;
  margin-top: 8%;
  margin-left: 5%;
  font-size: 300%;
  width: 100%;
}

.ourStoryHumansFirstContainer{
  background-color: #f7eee6;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: auto;
  padding-bottom: 30%;
  
}

.ourStoryHumansFirstScroll{
  font-family: "Roboto Slab", serif;
  margin: auto;
  text-align: center;
}

.ourStoryHumansFirstScroll h2{
  font-weight: 500;
  font-size: 350%;
  padding-bottom:2.5%;
  padding-top:2.5%;
}


.coachesImageContainer{
  position:absolute;
  overflow:hidden;
}

.coach1{
  background-image: url("../Images/coach1.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach2{
  background-image: url("../Images/coach2.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach3{
  background-image: url("../Images/coach3.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach4{
  background-image: url("../Images/coach4.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach5{
  background-image: url("../Images/coach5.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach6{
  background-image: url("../Images/coach6.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach7{
  background-image: url("../Images/coach7.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach8{
  background-image: url("../Images/coach8.png");
  background-size:contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}



.buttontr{
position:absolute;
background-color: rgb(252, 205, 2);
font-size: 200%;
width:3%;
top:85%;
left: 51%;
text-align: center;
border-radius: 40%;
padding-bottom: 0.3%;
}

.buttontl{
  position:absolute;
  background-color: rgb(252, 205, 2);
  font-size: 200%;
  width:3%;
  top:85%;
  left:46.5%;
  text-align: center;
  border-radius: 40%;
  padding-bottom: 0.3%;
}


.bolderHightlight {
  font-weight: 900;
  font-style: italic;
  color: white;
}

.messagesContainer {
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-top: 8%;
  font-size: 200%;
  font-weight: bold;
}

.mainMessage {
  display: inline-block;
  margin-right: 1vh;
}

.message {
  display: inline-block;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.quotesContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.quoteText {
  font-family: "Roboto Slab", serif;
  width: 225px;
  height: 150px;
  font-size: 115%;
  margin: 1%;
  display: inline-block;
}

.topQuotes {
  margin-top: 5%;
  margin-bottom: -5%;
}

.bolderContainer {
  width: 100%;
  margin-top: 2%;
  display: inline-block;
}

.bolderGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.bolderTitle {
  font-family: "Roboto Slab", serif;
  font-size: 125%;
}

.bolderTitle img {
  margin-left: 20%;
  margin-top: 5%;
}

.bolderText {
  font-family: "Roboto Slab", serif;
}

.bolder-item {
  font-size: 150%;
  width: 100%;
  font-weight: bold;
}

.MPHIWContainer {
  font-family: "Roboto Slab", serif;
  margin-top: 8%;
}

.MPHIWTitle {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: bold;
  text-decoration: underline palevioletred;
}

.MPHIWGrid {
  margin-top: 8%;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
  row-gap: 5%;
}

.MPHIWGrid img {
  height: 400px;
  width: 500px;
}

.step {
  display: inline-block;
  margin-bottom: 2%;
  background-color: #f2dfce;
  font-size: 115%;
  border-radius: 5px;
  height: 7%;
  text-align: center;
  margin-top: 20%;
}

.MPHIWGIL h1 {
  font-weight: bold;
  font-size: 190%;
}

.MPHIWGIL {
  margin-left: 27%;
  float: right;
}

.MPHIWGI {
  float: left;
}

.MPHIWGI h1 {
  font-weight: bold;
  font-size: 190%;
}

.MPHIWGI p {
  font-size: 150%;
}

.MPHIWGIL p {
  font-size: 150%;
}

.financialContainer {
  margin-top: 25%;
}

.financialTitle {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 220%;
  font-weight: bold;
}

.financialGrid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 5%;
}

.financialItem {
  font-family: "Roboto Slab", serif;
  font-size: 110%;
  font-weight: 600;
  text-align: center;
}

.financialMoney {
  font-size: 450%;
  font-weight: 200;
}

.financialMoney img {
  height: 75px;
  margin-bottom: 15%;
}

.average {
  font-family: "Roboto Slab", serif;
  font-size: 110%;
  font-weight: 600;
  margin-top: 4%;
}

.betterOffContainer {
  margin-top: 5%;
  background-color: #016f4b;
  height: 220px;
  width: 100%;
}

.betterOffText {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: white;
  font-size: 250%;
  padding-top: 3%;
  font-weight: bold;
}

.employeeContainer {
  justify-content: center;
}

.employeePic1 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed4708827ae0fee20837d_%5BBolder%5D%20Testimonial%203.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
}
.employeePic2 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed290e27f4430de495a2c_%5BBolder%5D%20Testimonial.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
}
.employeePic3 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed37771a65064a46ab872_%5BBolder%5D%20Testimonial%202.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
}
.employeePic4 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed60aadf4001c0a606a92_%5BBolder%5D%20Testimonial%204.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
}
