@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto&family=Roboto+Slab:wght@300&display=swap");
@import "@splidejs/react-splide/css";

.navBarContainer {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navBarContainer a:link{
  text-decoration: none;
  color: black;
}

.navBarContainer a:hover {
  color: black;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.navLink {
  color: black;
}


li {
  list-style-type: none;
}

.navBarTitle {
  font-family: "Roboto Slab", serif;
  margin-left: 10vh;
  font-size: 150%;
}

.navBarItems {
  font-family: "Roboto Slab", serif;
  margin-right: 10vw;
}

.motiveContainer {
  position: relative;
  background-color: #0049a5;
  overflow: auto;
  width: auto;
  z-index: -1;
}

.motiveText {
  margin-left: 6vh;
  margin-top: 25vh;
  margin-bottom: 15vh;
  color: white;
  width: 50vw;
  float: left;
  font-family: "Roboto Slab", serif;
}

.motiveText h1 {
  font-size: 375%;
  width: 35vw;
}

.motiveText p {
  font-size: 150%;
  width: 36vw;
}

.motiveImgContainer {
  position: absolute;
  bottom: 0px;
  right: 5vw;
  z-index: -1;
}

.motiveImgContainer img {
  display: block;
  width: 25vw;
  height: 50vh;
}

.asSeenInContainer {
  font-family: "Roboto Slab", serif;
  margin-top: 5vh;
  width: 100vw;
}

.asSeenInLogosGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2px;
  padding: 10px;
  width: 75vw;
  margin: auto;
}

.asSeenInLogosGrid img {
  width: 25vw;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

.asSeenInTitle {
  text-align: center;
  font-size: 125%;
  color: gray;
}

.ourStoryMotiveContainer {
  display:grid;
  grid-template-columns: auto;
  justify-content:center;
  background-color: rgb(252, 205, 2);
  overflow: auto;
  width: auto;
  text-align: center;
}

.ourStoryMotiveText {
  font-family: "Roboto Slab", serif;
  margin-bottom: 8vh;
  margin-top: 10vh;
}

.ourStoryMotiveText h1 {
  margin-top: 8vh;
  margin-left: 2.5vw;
  font-size: 500%;
  width: 35vw;
  font-weight: 400;
}

.ourStoryMotiveText p {
  margin-top: 4vh;
  font-size: 150%;
  width: 43vw;
  font-weight: 500;
}

.ourStoryTextSectionContainer {
  display:grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #fdfaf7;
  font-family: "Roboto Slab", serif;
  color: black;
  padding-bottom: 20vh;
  padding-top: 15vh;
}

.ourStoryTextSectionContainer h2 {
  font-weight: 700;
  width: 20vw;
  margin-bottom: 4vh;
  padding-top: 6vh;
}

.ourStoryTextSectionContainer p {
  width: 20vw;
  font-weight: 500;
  font-size: 125%;
  margin-bottom: 4vh;
}


.ourStoryImageContainer img {
  width: 500px;
  height: auto;
  border-radius: 15%;
}

.humanHightlight {
  font-style: italic;
  color: white;
}

.ourStoryThinMotiveContainer {
  position: relative;
  background-color: rgb(252, 205, 2);
  overflow: auto;
  width: auto;
}

.ourStoryThinMotiveTextContainer {
  font-family: "Roboto Slab", serif;
  margin: auto;
  width: 54vw;
  margin-bottom: 6vh;
  margin-top: 6vh;
  text-align: center;
}

.ourStoryThinMotiveTextContainer h1 {
  font-weight: 500;
  margin-top: 8vh;
  margin-left: 2vw;
  font-size: 300%;
  width: 50vw;
}

.ourStoryHumansFirstContainer {
  background-color: #f7eee6;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: auto;
  padding-bottom: 4vh;
  
}

.ourStoryHumansFirstScroll {
  font-family: "Roboto Slab", serif;
  margin: auto;
  text-align: center;
}

.ourStoryHumansFirstScroll h2 {
  font-weight: 500;
  font-size: 350%;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.ourStoryHumansFirstScroll h3 {
  font-weight: 500;
  font-size: 200%;
  padding-top: 5vh;
  font-weight: 700;
}

.ourStoryHumansFirstScroll p {
  font-weight: 500;
  font-size: 150%;
  padding-top:1vh;
}

.emailHighlight{
  color: #016f4b;
  font-weight: 600;
}

.coachesImageContainer {
  position: absolute;
  overflow: hidden;
}

.coach1 {
  background-image: url("../Images/coach1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach2 {
  background-image: url("../Images/coach2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach3 {
  background-image: url("../Images/coach3.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach4 {
  background-image: url("../Images/coach4.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach5 {
  background-image: url("../Images/coach5.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach6 {
  background-image: url("../Images/coach6.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach7 {
  background-image: url("../Images/coach7.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.coach8 {
  background-image: url("../Images/coach8.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 400px;
}

.buttontr {
  position: absolute;
  background-color: rgb(252, 205, 2);
  font-size: 200%;
  width: 3%;
  top: 85%;
  left: 51%;
  text-align: center;
  border-radius: 40%;
  padding-bottom: 0.3%;
}

.buttontl {
  position: absolute;
  background-color: rgb(252, 205, 2);
  font-size: 200%;
  width: 3%;
  top: 85%;
  left: 46.5%;
  text-align: center;
  border-radius: 40%;
  padding-bottom: 0.3%;
}

.bolderHightlight {
  font-weight: 900;
  font-style: italic;
  color: white;
}

.speakingOfWe{
  display:grid;
  grid-template-columns: 80%;
  justify-content: center;
  background-color: #fdfaf7;
  font-family: "Roboto Slab", serif;
  color: black;
  width: autos;
  text-align: center;
}

.speakingOfWeTitle{
  padding-top: 8vh;
  padding-bottom: 3vw;
  text-align: center;
}

.speakingOfWeTitle h2{
  font-weight: 700;
  font-size: 250%;
}

.speakingOfWeGrid{
 display: grid;
 grid-template-columns: 50% 50%;
 justify-content: center;
 justify-items: center;
 text-align:left;
 padding-bottom: 4vh;
}

.speakingOfWeGrid p{
  padding-bottom: 2vh;
  font-size: 110%;
}

.speakingOfWeGrid h3{
  padding-bottom: 2vh;
}

.speakingOfWeGridLeft{
  width: 25vw;
}

.speakingOfWeGridLeft img{
  width: 600px;
  height: auto;
  border-radius: 15%;
  margin-bottom: 4vh;
}

.speakingOfWeGridRight{
  width: 26.5vw;
  
}

.speakingOfWeGridRight img{
  width: 600px;
  height: auto;
  border-radius: 15%;
  margin-bottom: 4vh;
}

.employeePosition{
 color: rgb(0, 0, 184);
 font-size: 70%;
 font-weight: 500;
}

.messagesContainer {
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-top: 8vh;
  font-size: 200%;
  font-weight: bold;
}

.mainMessage {
  display: inline-block;
  margin-right: 1vh;
}

.message {
  display: inline-block;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffd500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.quotesContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.quoteText {
  font-family: "Roboto Slab", serif;
  width: 225px;
  height: 150px;
  font-size: 115%;
  margin: 1%;
  display: inline-block;
}

.topQuotes {
  margin-top: 5%;
  margin-bottom: -5%;
}

.bolderContainer {
  width: 100%;
  margin-top: 2%;
  display: inline-block;
}

.bolderGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.bolderTitle {
  font-family: "Roboto Slab", serif;
  font-size: 125%;
}

.bolderTitle img {
  margin-left: 20%;
  margin-top: 5%;
}

.bolderText {
  font-family: "Roboto Slab", serif;
}

.bolder-item {
  font-size: 150%;
  width: 100%;
  font-weight: bold;
}

.MPHIWContainer {
  font-family: "Roboto Slab", serif;
  margin-top: 8%;
}

.MPHIWTitle {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: bold;
  text-decoration: underline palevioletred;
}

.MPHIWGrid {
  margin-top: 8%;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5%;
}

.MPHIWGrid img {
  height: 400px;
  width: 500px;
}

.step {
  display: inline-block;
  margin-bottom: 2%;
  background-color: #f2dfce;
  font-size: 115%;
  border-radius: 5px;
  height: 7%;
  text-align: center;
  margin-top: 20%;
}

.MPHIWGIL h1 {
  font-weight: bold;
  font-size: 190%;
}

.MPHIWGIL {
  margin-left: 27%;
  float: right;
}

.MPHIWGI {
  float: left;
}

.MPHIWGI h1 {
  font-weight: bold;
  font-size: 190%;
}

.MPHIWGI p {
  font-size: 150%;
}

.MPHIWGIL p {
  font-size: 150%;
}

.financialContainer {
  margin-top: 10%;
}

.financialTitle {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 220%;
  font-weight: bold;
}

.financialGrid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 5%;
}

.financialItem {
  font-family: "Roboto Slab", serif;
  font-size: 110%;
  font-weight: 600;
  text-align: center;
}

.financialMoney {
  font-size: 450%;
  font-weight: 200;
}

.financialMoney img {
  height: 75px;
  margin-bottom: 15%;
}

.financialMistakesContainer{
  font-family: "Roboto Slab", serif;
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #0049a5;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color:white;
}

.financialSource{
  color: silver;
}

.average {
  font-family: "Roboto Slab", serif;
  font-size: 110%;
  font-weight: 600;
  margin-top: 4%;
}

.betterOffContainer {
  margin-top: 5%;
  background-color: #016f4b;
  height: 220px;
  width: 100%;
}

.betterOffText {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: white;
  font-size: 250%;
  padding-top: 3%;
  font-weight: bold;
}

.employeesContainer {
  margin-top: 5%;
  cursor: grab;
  padding-bottom: 5%;
}

.employeePic1 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed4708827ae0fee20837d_%5BBolder%5D%20Testimonial%203.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
  position: relative;
}
.employeePic2 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed290e27f4430de495a2c_%5BBolder%5D%20Testimonial.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
  position: relative;
}
.employeePic3 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed37771a65064a46ab872_%5BBolder%5D%20Testimonial%202.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
  position: relative;
}
.employeePic4 {
  background-image: url("https://uploads-ssl.webflow.com/613b56dcd2b3656edc33accf/616ed60aadf4001c0a606a92_%5BBolder%5D%20Testimonial%204.jpg");
  background-size: cover;
  height: 500px;
  width: 450px;
  border-radius: 25px;
  position: relative;
}

.employeeDesc {
  font-family: "Roboto Slab", serif;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 150%;
  margin-left: 10%;
  margin-right: 5%;
  text-shadow: 1px 1px black, 2px 2px black;
  font-weight: 550;
  margin-bottom: 20%;
}

.employeeName {
  font-family: "Roboto Slab", serif;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #c99fd8;
  font-size: 150%;
  margin-left: 10%;
  margin-right: 5%;
  text-shadow: 1px 1px black, 2px 2px black;
  font-weight: 700;
  margin-bottom: 10%;
}

.investYourselfContainer{
  font-family: "Roboto Slab", serif;
  width: 100%;
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #F7EEE6;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.investYourselfGrid{
  display:grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  justify-items: center;
  width: 80vw;
}

.investTitle{
  font-size: 200%;
  padding-bottom: 5vh;
  width: 20vw;
  font-weight: 700;
}

.investDesc{
  font-size: 125%;
  width: 20vw;
  padding-bottom: 5vh;
}

.investRight img{
  width: 506px;

}

.investUnderline{
  text-decoration: underline solid;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}

.amountColor{
  color: blue;
  font-weight: 700;
}

.investListItem{
  padding-bottom: 1vh;
}

.bottomNavContainer{
  background-color: #016f4b;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: rgb(255, 255, 255);
  width: auto;
  padding-top: 10vh;
  padding-bottom:10vh;
}

.bottomNavContainer a{
  text-decoration: none;
  color: white;
}

.bottomNavContainer a:link{
  color:white;
}

.bottomNavContainer a:hover{
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.navLink1{
  color:white;
}

.bottomNavTitle{
  text-align: center;
  padding-bottom: 10vh;
}

.bottomNavTitle h2{
  font-size: 225%;
  font-weight: 700;
}

.bottomNavTitle p{
  font-size: 125%;
}

.bottomNavTitle a{
  color:black;
}

.bottomNavTitle a:link{
  color:black;
}

.bottomNavTitle a:hover{
  color:black;
  
}

.bottomNavGrid{
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 0.1vh;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70vw;
  margin-left: 15vw;
}

.bottomNavButton{
  background-color: #ffd500;
  width: 10vw;
  height: 5vh;
  border-radius: 50px;
  border-color:#ffd500;
  border-width: 1px;
}

.bottomNavGridLeft h1{
  font-weight: bolder;
  padding-top: 5vh;
}

.bottomNavGridLeft h2{
  font-size: 120%;
  padding-top: 5vh;
}

.bottomNavGridLeft h3{
  font-size: 150%;
}

.bottomNavGridLeft img{
  padding-top: 3vH;
}

.bottomNavGridLeft p{
  padding-top: 23vh;
  color: silver;
}

.bottomNavGridMid{
  display:grid;
  grid-template-rows: auto auto auto auto auto auto;
  text-align: left;
  height: 35vh;
  padding-top: 5vh;
  padding-left: 5vw; 
}

 .bottomNavGridRight{
   padding-top: 5vh;
   padding-left: 15vw;
 }

 .bottomNavGridRight h2{
  font-size: 175%;
  padding-bottom: 3vh;
}

 .footerGrid{
  color:silver;
  display:grid;
  grid-template-columns: auto auto;
  width: 20vw;
  padding-top: 10vh;
 }

 .footerGridRight{
  display: grid;
  grid-template-columns: auto auto;
  width: 20vw;
  margin-left:35vw;
 }

 .footerGridLeft{
  width: 15vw;
  margin-left: 15vw
 }

 .emailForm{
  background-color: #016f4b;
  border-radius: 15px;
  border-color: white;
  width: 20vw;
  height: 5vh;
  border-width: 1px;
  color: silver;
  padding-left: 2vw;
  z-index: 1;
 }

 .emailFormButton{
  background-color: #016f4b;
  border-radius: 50%;
  border-color: white;
  width: 3vw;
  height: 5vh;
  border-width: 1px;
  color: silver;
  margin-left: 1vw;
 }

  .bottomNavGridRight ::placeholder{
  color:silver;
  opacity: 1;
 }

 .membershipContainer{
  background-color: #fdfaf7;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: auto;
  padding-top: 20vh;
 }

 .membershipContainer h2{
  text-align: center;
  font-size: 250%;
  font-weight: 600;
 }

 .membershipGrid{
  display:grid;
  grid-template-columns: auto auto;
  padding-top: 10vh;
  padding-bottom:15vh
 }

 .membershipGridLeft{
  width: 23vw;
  font-size: 150%;
  margin-left: 10vw;
  padding-top: 5vh;
  font-weight: 500;
 }

 .membershipGridRight img:hover{
  cursor: pointer;

 }

 .scheduleContainer{
  background-color: #f7eee6;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
 }

 .scheduleGrid h2{
  font-size: 250%;
  font-weight: 700;
  padding-bottom: 3vh;
 }

 .scheduleGrid{
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  text-align: center;
  padding-top: 5vh;
 }

 .scheduleGrid img{
  padding-bottom: 5vh;
 }

.noFilterMotive{
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
  background-color: #fdfaf7;
  position: relative;
  font-family: "Roboto Slab", serif;
  color: black;
  width: 100%;
  text-align: center;
}

.noFilterMotive h1{
  font-size: 400%;
  font-weight: 700;
  text-decoration: underline #ffd500;
  text-decoration-thickness: 10px;
}

.noFilterMotive p{
 font-size: 125%;

}

 .featuredPost{
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #f7eee6;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width : 100%;
 }

 .noFilterStories{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #fdfaf7;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Roboto Slab", serif;
  color: black;
  width:100%
 }

 .noFilterStories h2{
  font-size: 250%;
  font-weight: 700;
 }

 .noFilterStories img {
  padding-top: 7vh
 }

 .storiesButton{
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: black;
  display:block;
  width: 5vw;
  height: 5vh;
  text-align: center;
  padding-top: 1vh;
  border-radius: 50px;
  border-color: silver;
  border-width: 1px;
  margin-top: 5vh;
 }

 .noFilterGrid{
  display:grid;
  grid-template-columns: auto;
  justify-items: center;
 }

 


 
